<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>Grid Layout - определение сетки</h1>
            <div class="grid">
                <div class="grid_body">
                    <div class="grid__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus tempora reiciendis reprehenderit corrupti id vitae fugit laborum, numquam ullam inventore sapiente at provident dolor nemo atque. Nam nulla ad ipsa?</div>
                    <div class="grid__item">2</div>
                    <div class="grid__item">3</div>
                    <div class="grid__item">4</div>
                    <div class="grid__item">5</div>
                    <div class="grid__item">6</div>
                </div>
            </div>
            <h2>Имена областей</h2>
            <div class="grid-wrapper">
                <header class="grid-header">Шапка</header>
                <aside class="grid-side">Сайдбар</aside>
                <main class="grid-content">Контент</main>
            </div>
            <div class="grid-auto">
                <h2>Неявная сетка</h2>
                <div class="grid-auto__item">1</div>
                <div class="grid-auto__item">2</div>
                <div class="grid-auto__item">3</div>
                <div class="grid-auto__item">4</div>
                <div class="grid-auto__item">5</div>
                <div class="grid-auto__item">6</div>
                <div class="grid-auto__item">7</div>
            </div>
        </div>
    </div>
</body>
</html>