body {
    margin: 0px 0px 0px 0px;
    background-color: grey;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
.header {
    grid-area: header;
    padding: 15px;
    background-color: burlywood;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    grid-column: 2 / 3;
}
.header__menu {
    grid-column: 3 / 4;
}
.header__list li {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    margin: 0px 0px 0px 30px;
}
.header__link {
    color: white;
    font-size: 18px;
}
@media (max-width: 992px) {
    .header__list {
        display: none;
    }
}

.main {
    padding: 30px 15px;
}


.sidebar {
    background-color: yellowgreen;
    padding: 30px 15px;
    margin: 0px 0px 30px 0px;
}
.sidebar__list {
    margin: 0px 0px 15px 0px;
}
.sidebar__link {
    color: white;
    font-size: 20px;
}

.content__gallery {
    margin: 0px 0px 30px 0px;
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
    .sidebar {
        grid-column: 2 / 3;
        margin: 0;
    }
    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
}
.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
}
.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 767px) {
    .gallery__item_big {
        grid-column: span 2;
        grid-row: span 2;
    }
}
.product__items {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr; /* Подстраивание высоты строки названия товара под максимальную высоту 1-го любого товара */
}
.products__item{
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px;
}
.products__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products__name {
    font-size: 20px;
    color: white;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
}
.products__button {
    color: white;
    text-transform: uppercase;
    letter-spacing: 21;
    text-decoration: none;
    line-height: 40px;
    justify-self: start;
    background-color: purple;
    padding: 0 20px;
}
.footer {
    background-color: purple;
    color: white;
    align-items: center;
    display: grid;
    grid-area: footer;
    padding: 15px;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

}
.footer__copy {
    grid-column: 2 / 3;
}
.footer__text {
    text-align: right;
    grid-column: 3 / 4;
}
